node_modules
npm-debug.log
.DS_Store
.playwright
exports
*.log
dist
Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
.vscode
build
package
**/.env